<p class="note"><strong>Note</strong>: Pivotal Application Service (PAS) for Windows 2012R2 is no longer supported in Pivotal Cloud Foundry (PCF) v2.2 and later. For information about PAS for Windows 2012R2 in PCF v2.1, see <a href="https://docs.pivotal.io/pivotalcf/2-1/windows2012r2/index.html">Using PAS for Windows 2012R2</a>.<br><br>
For information about PAS for Windows, which is supported in PCF v2.1 and later, see <a href="https://docs.pivotal.io/pivotalcf/2-3/windows/index.html">Pivotal Application Service for Windows</a>.</p>
