---
title: Using Windows Stemcells
owner: Greenhouse
---

<%= partial '/pcf/deprecation-notice' %>


<%= partial 'end-of-support' %>

## <a id="overview"></a> Overview

A _stemcell_ is a customized operating system image containing the filesystem for BOSH-managed virtual machines. When deployed, it includes a process, the _BOSH Agent_, which is pre-configured to communicate with the orchestrating VM, the _BOSH Director_.
The BOSH Agent is responsible for executing and monitoring jobs on the VM.

PAS for Windows 2012R2 deployments currently use a stemcell based on Windows Server 2012 R2.

## <a id="sizing"></a> Root Disk Sizing

<p class='note'><strong>Note</strong>: Root disk sizing has been disabled and the default disk size for Windows cells has been increased. Future releases will provide ephemeral disk support to allow you to configure the size of your Windows cell.</p>

The size of the root disk of a stemcell determines the minimum root disk size of any Windows VM that the BOSH Director can create from that stemcell. The relationship between the disk size of the stemcell and the root disk size of the Windows cells depends on your IaaS, as shown in the table below.

<table id='disk-sizes' border="1" class="nice" >
  <tr>
    <th>IaaS</th>
    <th>Windows Stemcell 1200.17+ disk size</th>
  </tr>
  <tr>
    <th>Azure</th>
    <td>127 GB</td>
  </tr>
  <tr>
    <th>AWS</th>
    <td>128 GB</td>
  </tr>
  <tr>
    <th>GCP</th>
    <td>100 GB</td>
  </tr>
  <tr>
    <th>vSphere</th>
    <td>Recommended 128 GB+<sup>*</sup></td>
  </tr>
</table>

<sup>\*</sup>Because you create your own stemcell on vSphere, you can control its root disk size. See [Creating a vSphere Stemcell Manually](./vsphere-stemcell-build.html) for more information.

In the PAS for Windows 2012R2 tile > **Resource Config** pane, the VM types that you can choose from reflect the disk size constraints in the table above.

## <a id="light-stemcells"></a> Light Stemcells

_Light stemcells_ are metadata files that enable you to deploy VMs without uploading the full operating system manually. These stemcells reference images of Windows Server 2012 R2 hosted on public IaaSes.

Light stemcells are available for Microsoft Azure, AWS, and GCP, which typically bill a surcharge for the associated Windows licensing cost. See the documentation on those IaaSes for details.

Below is IaaS-specific documentation for light stemcells you can use with the PAS for Windows 2012R2 tile:

+ <a href="./azure-light-stemcell.html" class="subnav">Deploying the Azure Light Stemcell</a>

## <a id="stemcell-builds"></a> Stemcell Builds

Because of the constraints placed on the distribution of Windows OS by Microsoft's licensing terms, operators must build stemcells for on-premise deployments from OS disk images (e.g. ISO files) licensed to them directly from Microsoft. This typically involves starting a Windows virtual machine, installing the BOSH agent and associated software, then exporting its disk image and converting it to a stemcell format.

Below is IaaS-specific documentation for building stemcells for the PAS for Windows 2012R2 tile:

+ <a href="./vsphere-stemcell-build.html" class="subnav"> vSphere Stemcell Build</a>
