---
title: Configuring a KMS Host
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to configure a KMS host that your volume-licensed Windows cell can register with.

##<a id='configure'></a> Configure a KMS Host

1. Navigate the **PAS for Windows 2012R2** tile in Ops Manager

1. Select the **VM Options** configuration pane.

1. Under **Key Management Service**, perform the following steps:
    1. Click **Enable**
    2. For the **Host** field, enter the KMS hostname.
    3. For the **Port** field, enter the port number. The default port number is 1688.

    ![The enable KMS text fields: host and port](enable-kms.png)