---
title: Installing and Configuring PAS for Windows
owner: Windows
---

This topic applies to newer versions of Pivotal Application Service (PAS) for Windows, available as part of the Pivotal Cloud Foundry v2.1 release.

For the newest version of this topic, see [Installing and Configuring PAS for Windows](https://docs.pivotal.io/pivotalcf/windows/installing.html).

For information about deploying PAS for Windows 2012R2, see the following topics:

* <a href="./about-windows-stemcells.html">Using Windows Stemcells</a>
* <a href="./deploy-windows.html">Deploying PAS for Windows 2012R2</a>
