---
title: Installing PAS for Windows 2012R2
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic provides links to additional information about deploying PAS for Windows 2012R2:

* <a href="./about-windows-stemcells.html">Using Windows Stemcells</a>
* <a href="./deploy-windows.html">Deploying PAS for Windows 2012R2</a>
