---
title: Upgrading Windows Cells 
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the PCF Runtime for Windows tile and update the Windows stemcell.

If you are currently using Windows cells deployed by the BOSH Release for Windows or Diego Windows, consult the list below:

* For customers who are using the BOSH Release for Windows, install the PCF Runtime for Windows tile, then destroy your original deployment of Windows cells with the BOSH CLI. The workloads will evacuate the old deployment and migrate to the tile deployment in an automated fashion.
* For customers who are using Diego Windows, follow the procedures in the <a href="msi-crossgrade.html">Migrating from Diego Windows</a> topic to migrate your applications to Windows cells deployed by the tile.

##<a id='upgrade-tile'></a> Upgrade PCF Runtime for Windows

The latest versions of your existing products will appear in the **Ops Manager Installation Dashboard**. Upgrade your product to the latest version by following these instructions.

1. Navigate to the **Ops Manager Installation Dashboard**.

1. Locate and download the product version you want to upgrade to by clicking on the green download icon on the left-hand side of the screen.

1. When the download is complete, click **Apply Changes**.

1. If necessary, configure the product. For more information on configuring PCF Runtime for Windows, see the [Deploying PCF Runtime for Windows](http://docs.pivotal.io/pivotalcf/windows/deploy-windows.html) topic.

1. Locate the **Pending Changes** section on the right-hand side of the screen and click **Apply Changes**.

##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Navigate to the **Ops Manager Installation Dashboard**.

1. Build your own vSphere stemcell. For additional help, contact [Pivotal Support](https://support.pivotal.io/).

1. Click the **PCF Runtime for Windows** tile. 

1. Within the **Settings** tab, click **Stemcell** on the left-hand navigation.

1. Click **Import Stemcell**.

1. Select the previously acquired stemcell and click **Open**.

1. Click **Installation Dashboard** to navigate back to the **Ops Manager Installation Dashboard**. 

1. Click **Apply Changes**.


