---
title: Upgrading Windows Cells
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade and rotate the credentials for the PCF Runtime for Windows tile, update the Windows stemcell, and upgrade your Windows apps.


##<a id='when'></a> When to Upgrade

You must upgrade the PCF Runtime for Windows tile at the same time or immediately after you upgrade the Elastic Runtime tile.

Unless otherwise noted, any minor version of PCF Runtime for Windows is compatible with the same minor version of Elastic Runtime. For example, any 1.12.x version of PCF Runtime for Windows works with any 1.12.x version of Elastic Runtime.

##<a id='upgrade-tile'></a> Upgrade PCF Runtime for Windows

To upgrade PCF Runtime for Windows:

1. Follow the instructions [Upgrading PCF Products](../customizing/upgrading-products.html#other-products) with the latest PCF Runtime for Windows product download from [Pivotal Network](https://network.pivotal.io/products/p-windows-runtime).

1. If necessary, configure the product. For more information about configuring PCF Runtime for Windows, see the [Deploying PCF Runtime for Windows](./deploy-windows.html) topic.

1. Locate the **Pending Changes** section on the right-hand side of the screen and click **Apply Changes**.

## <a id='rotate'></a>Rotate PCF Runtime for Windows Credentials

The Elastic Runtime tile handles all of the credentials for PCF Runtime for Windows.

To rotate your credentials in PCF Runtime for Windows, re-deploy Elastic Runtime and PCF Runtime for Windows by navigating to the Ops Manager Installation Dashboard and clicking **Apply Changes**.

##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Navigate to the **Ops Manager Installation Dashboard**.

1. Retrieve the stemcell by following the steps below for your IaaS:
    * For vSphere, you must build your own stemcell. See [Creating a vSphere Stemcell by Hand](https://github.com/cloudfoundry-incubator/bosh-windows-stemcell-builder/wiki/Creating-a-vSphere-Stemcell-by-Hand) in GitHub for more information.
    * For AWS, GCP, and Azure, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

1. Click the **PCF Runtime for Windows** tile.

1. Within the **Settings** tab, click **Stemcell** on the left-hand navigation.

1. Click **Import Stemcell**.

1. Select the previously acquired stemcell and click **Open**.

1. Click **Installation Dashboard** to navigate back to the **Ops Manager Installation Dashboard**.

1. Click **Apply Changes**.

For more information about Windows stemcells, see [Using Windows Stemcells](./about-windows-stemcells.html).
